* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #edf0f5;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

.layout-wrapper {
  padding: 0;
}
